<header class="mb-3">
    <nav class="navbar navbar-expand-md navbar-light bg-warning
    menuNav ">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="clientes/cadastrarClientes" class="nav-link">Cadastrar Clientes</a>
            </li>
            <li class="nav-item">
                <a href="/clientes" class="nav-link">Editar Clientes</a>
            </li>
        </ul>

    </nav>
</header>