<header class="mb-3">
    <nav class="navbar navbar-expand-md navbar-light bg-primary
    menuNav ">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/cadastrarAlunos" class="nav-link">Cadastrar Alunos</a>
            </li>
            <li class="nav-item">
                <a href="/alunos" class="nav-link">Editar Alunos</a>
            </li>
            <li class="nav-item">
                <a href="/cadastrarProfessores" class="nav-link">Cadastrar Professores</a>
            </li>
            <li class="nav-item">
                <a href="/professores" class="nav-link">Editar Professores</a>
            </li>
            <li class="nav-item">
                <a href="/cadastrarDisciplinas" class="nav-link">Cadastrar Disciplinas</a>
            </li>
            <li class="nav-item">
                <a href="/disciplinas" class="nav-link">Editar Disciplinas</a>
            </li>
        </ul>

    </nav>
</header>